@font-face {
  font-family: 'Mukta';
  src: url('../fonts/Mukta-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Mukta';
  src: url('../fonts/Mukta-Regular.ttf') format('truetype');
  font-style: normal;

}

@font-face {
  font-family: 'Satisfy';
  src: url('../fonts/Satisfy-Regular.ttf') format('truetype');
  font-style: normal;
}
