body {
/*  background-color: #DFDDDA; */
/*  background-color: #F7C0EA; */
  text-align: center;
}

#standard {
  background-color: #E1E1E1;
  border: 1em white solid;
  width: 1200px;
  margin:auto;
  padding:inherit;
}

#headline {
  background-color: #8C8D92;
  border: 1em white solid;
  width: 1200px;
  margin:auto;
  padding:.1em .1em .1em .1em ;
}

h1 {
  color: #F5F29A;
  font-family: Nova Round;
  font-size: 3em;
}

h2, p {
  font-family: Nova Slim;
}

/* Menu Style Sarts Here */
header {
  /* align: right; (not useful, i think)*/
  background-color: #D5BFF5;
  width: 99.2%;
  height: 5%;
  min-height: 50px;
  top: 0px;
  border: 8px white solid;
  font-family: Nova Slim;
  text-align: center;
  padding: .4em .2em 0 0;
}

.menu {
  float: right;
  min-width: 6em;

}

/* menu layout */
.menu-item {
  display: inline-block;
  margin: .3em;
  background-color: black;
  padding: .3em;
  border-radius: 1em;
  min-width: 8em;
  text-align: center;
}

.menu-item:hover {
  background-color: #8C8D92;
}

/* link syles */
.menu-item a {
  color: white;
  text-decoration: none;
}
.menu-item:hover a {
  color: black;
}

/* dropdown */
.dropdown {
  display: inline-block;
}

.dropdown-stuff {
  display: none;
  position: absolute;
  margin: 5px 0 0 1em;
  z-index: 1;
  text-align: center;
}

.dropdown:hover .dropdown-stuff {
  display:block;

}

/* dropdown item display */

.dropdown-item {
  background-color: #F5F29A;
  display: block;
  align: right;
  margin: 0 0 0 -3px;
  padding: .4em 1em .4em .6em;
  min-width: 5em;
  border-radius: .2em;

}

.dropdown-item:hover, .dropdown-item a:hover {
  background-color: #D2D2C8;
  text-decoration: underline;
  color: white;
}

/* end of menu style */

/* green: #C5F5B9
  orange: #FAE0B4
